In [2]:
import pandas as pd
df = pd.read_csv("../../data/raw/adult.data", header = None)
df.columns = ['Age', 'Workclass', 'Final Weight', 'Education', 'Education Num', 'MaritalStatus', 'Occupation', 'Relationship', 'Race', 'Sex', 'Capital Gain', 'Capital Loss', 'Hours per Week', 'NativeCountry', 'Salary']
df_cat = df.select_dtypes(include = 'object').copy()

In [6]:
df.describe()

,Age,Final Weight,Education Num,Capital Gain,Capital Loss,Hours per Week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
# The table above show use a brief overview of the numerical variables within the dataset of adult incomes that we chose
# The working age of people from the data seems to be centered around the a set of age that is normal although there are some people 
# who worked beyond the normal retirement age 
#
# Final Weight ??
#
# Education Num illustrates the last grade each person did. Most of people on the data did not go to college and went to work after 
# graduating Junior High.
#
# As we could see, both capital Gain and Capital Loss does not represents most of the percentile of data gathered since the std is really high
# and the third quartile still have the value 0
# 
# The Hours per week seems normal to a 9-5 work hours which is 8 hours per week. There's a couple of value which is higher than the 9-5 work
# hour. This could be due to overtime during afterhours work. This does not signify the maximum value of 99 which is highly irregular.

In [4]:
x=df_cat.Workclass.value_counts()
print(x)
# Most of workers here ar eemployed at a private company which is expected in a today's real life scenario

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: Workclass, dtype: int64

In [5]:
x=df_cat.Education.value_counts()
print(x)
# This just showcase the description of education num on a string format for detailing

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: Education, dtype: int64

In [6]:
x=df_cat.Occupation.value_counts
print(x)

<bound method IndexOpsMixin.value_counts of 0              Adm-clerical
1           Exec-managerial
2         Handlers-cleaners
3         Handlers-cleaners
4            Prof-specialty
                ...
32556          Tech-support
32557     Machine-op-inspct
32558          Adm-clerical
32559          Adm-clerical
32560       Exec-managerial
Name: Occupation, Length: 32561, dtype: object>

In [7]:
x=df_cat.Relationship.value_counts()
print(x)
# Here we can assume that the data is most likely interview male workers who are married
# *i'm confused whats does not-in-family means*

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: Relationship, dtype: int64

In [8]:
x=df_cat.Race.value_counts()
print(x)
# The working force from the data shows that it is predominantly white

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: Race, dtype: int64

In [9]:
x=df_cat.NativeCountry.value_counts()
print(x)
# Most of the working force are native to the United States and mexico which is sharing a border with the U.S only have less than 5 percent
# of those who are native to the U.S

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: NativeCountry, dtype: int64

In [12]:
df_cat.Salary.value_counts()
# around 75% of the people have an annual income of less or equal than 50K

 <=50K    24720
 >50K      7841
Name: Salary, dtype: int64